$app_font: sans-serif;
$font-weight: 300;
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight;
}

button, .btn{
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}

input{
  font-family: $app_font;
  font-weight: $app_font;
  color: darkslategray;
}

input::placeholder{
  font-family: $app_font;
  font-weight: $font-weight;
  color: #8e8e8e;
}

.error-message{
  .icon{
    height: 108px;
    width: 108px;
  }
}

.app-content{
  border-bottom: 1px solid #e5e5e5;
  min-height: 800px;
  font-weight: $font-weight;

}

.loader{
  text-align: center;
}

.loader.post-loader{
  text-align: initial;
}

.fa.fa-spin{
  font-size: 56px;
  margin-top: 80px;
  color: rgb(255, 179, 192);
}


.page-footer{
  padding-top: 0 !important;
  background: #fff;
}


.btn-primary{
  background-color: #107dac;
  border-color: #107dac;
}

.card{
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  font-weight: $font-weight;
}

div.app{
  background: #f7f7f7;
  font-family: $app_font;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon{
  height: 32px;
  width: 32px;
}

.link{
    font-size: 14px;
}

.red{
    color: #f05e67;
}

.money{
    color: #329932;
}

.green{
    color: #329932;
}

.success{
    visibility: visible;
}

.gone{
    display: none;
}

.error-message{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}


.page{
    padding: 32px 8px;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .app-content{
    //padding: 5px;
  }
}

@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .container{
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
  }
}