button, .btn{
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}

.app-content{
  border-bottom: 1px solid #e5e5e5;
  min-height: 800px;
}

.page-footer{
  padding-top: 0 !important;
  background: #fff;
}


.btn-primary{
  background-color: #107dac;
  border-color: #107dac;
}

.card{
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}

div.app{
  background: #f5f7fa;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link{
    font-size: 14px;
}

.red{
    color: #f05e67;
}

.money{
    color: green;
}

.green{
    color: green;
}

.success{
    visibility: visible;
}

.gone{
    display: none;
}

.error-message{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}


.page{
    padding: 32px;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .container{
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
  }
}