.day-nav {
  margin-bottom: 16px;
}

.day-date {
  font-size: 12px;
}

.day-container .day-column {
  background: none;

  .card-body {
    padding: 4px;
  }
}


.day-total {
  border-top: 1px solid lightgray;
  padding: 16px;
  font-size: .85rem;
  color: green;
}



@media (max-width: 576px) {

  .day-container .expense-card.card {
    .card-body {
      padding: 5px;
    }
    .card-text{
      font-size: .8rem;
    }
  }

  .day-title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }

  .day-container .day-column {
    width: 12%;
    margin: 1px;
    height: 564px;
    background: none;
    font-size: .75rem;
  }

}