.goal-progress {

  .m-month{
    .col-12{
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  h5{
    margin-top: 4px;
  }
  .time-frame{
    .row{
      margin: auto;
    }
  }

  .col-12{
    padding: 0;
  }


  .inactive-day{
  }

  img.glyph-action{
    height: 16px;
    width: 16px;
    vertical-align: baseline;
  }

  .week-container {
    .indicator {
      margin: 0;
    }
  }

  .week-container .day-title{
    font-weight: 300;
  }

  .day-indicator {
    padding: 10px 0;

    .piggy-bank {
      height: 24px;
    }

    img {
      height: 24px;
      width: 24px;
    }

    .finish img {
      height: 32px;
      width: 32px;
      margin: -8px;
    }

    .money {
      vertical-align: sub;
      font-size: .9rem;

      &.red {
        color: #f05e67;
      }
    }

    .check img {
      height: 24px;
      width: 24px;
      vertical-align: bottom;
    }
  }

  .fuel-level {
    background-color: #252a2f;
    height: 135px;
    width: 100%;
  }

  &.week-prog, &.day-prog{
    .fuel-level, .count-ticks{
      height: 164px;
      width: 100%;
    }
  }

  &.month-prog{
    .fuel-level, .count-ticks{
      height: 136px;
      width: 100%;
    }
  }

  .m-day{
    .day-indicator {
      padding: 20px 0;
    }
    .periods button{
      padding: 10px;
    }
  }


  .row.status{
    color: #fff;
    background: #252a2f;
    padding: 6px;
    margin: auto;
  }

  .day-labels.row {
    .col.day {
      font-weight: 600;
      background: #fff;
      padding: 4px;
    }

  }

  .col.day {
    height: 30px;
    padding: 0;
    width: 35px;
    font-size: .75rem;
    border: 1px solid lightgray;
    &.inactive{
      background: #9fabb7;
    }

    &.date{
      text-align: right;
      font-size: .65rem;
      span{
        padding-right: 2px;
      }
    }

    .avg-left{
      text-align: center;
      margin-top: -7px;
    }

    .icon{
      height: 24px;
      width: 24px;
      padding: 4px;
    }
    svg{
      height: 26px;
      width: 26px;
    }
  }

  @media (max-width: 640px){
    .m-month{
      .col-12{
        padding-left: 0;
        padding-right: 0;
      }
    }

    .m-day .day-indicator {
      padding: 10px 0;
    }
    .m-day .periods button {
      padding: 8px 4px;
      font-size: .9rem;
    }

    .week-container{
      padding-top: 0;
    }
    .week-container .day-column {
      width: 12%;
      padding: 1px;
      margin: 0;
      height: auto;
    }
    .week-container .week-expenses button {
      width: 100%;
      border: none;
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}