.habit-card {
  min-height: 96px;
  .card-body img {
    $length: 32px;
    height: $length;
    width: $length;
  }

  .red{
    color: #ed3742
  }

  .yellow{
    color: #997a37;
  }

  .card-body{
    padding: 4px 10px;
    position: relative;
    top: 12px;
  }

  .card-footer{
    padding: 1px 5px;
    background-color: #fff;
    img{
      height: 24px;
      width: 24px;
    }
  }

  .card-text {
    font-size: .7rem;
  }
  .card-text.small{
    font-size: .6rem;
  }
  p.habit-name{
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .habit-card.card .card-body {
    padding: 2px;
  }

  .card-body .card-text {
    font-size: .7rem;
  }

}