.picker-list{
  height: 400px;
  overflow-y: auto;

  $iconSize: 64px;
  img{
    height: $iconSize;
    width: $iconSize;
    padding: 2px;
  }

  .items .img-container.selected{
    background: #adffff !important;
  }

  .items .img-container:hover{
    background: lightcyan;
  }

}


form img{
  $length: 40px;
  height: $length;
  width: $length;
  cursor: pointer;
}
