.active{
  background: #dedede;
}

.inactive{
  background: whitesmoke;
}

.day-expense-list {
  height: 464px;
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.day-expense-list::-webkit-scrollbar {
  display: none;
}


.date-nav {
  margin-bottom: 16px;
}

.day-column {
  padding: 2px;
}

button:focus {
  outline: none;
}

@media (max-width: 576px) {
  .piggy-container {
    padding: 16px;
  }


  //.page{
  //  padding: 24px 0;
  //}
}