.my-habit .empty-message {
  margin-top: 20px; }
.my-habit .need-want canvas {
  height: 104px !important;
  width: 140px !important; }
.my-habit .devil {
  padding-left: 10px; }
.my-habit .simple-bar {
  padding: 2px;
  height: 72px;
  width: 64px; }
.my-habit .habit-title a img {
  height: 20px;
  width: 20px; }
.my-habit .habit-title img {
  height: 40px;
  width: 40px; }
.my-habit .habit-title span {
  vertical-align: middle;
  margin-left: 10px; }
.my-habit .piggy.card {
  margin-bottom: 10px;
  padding: 24px; }
.my-habit .date-control {
  padding: 15px; }
.my-habit .goal .col-12 {
  padding-left: 0;
  padding-right: 0; }
.my-habit .goal .card {
  height: 456px; }
.my-habit .goal .card-header span {
  font-size: 1.4rem; }
.my-habit .goal .card-body {
  padding-top: 5px; }
.my-habit .key-figures {
  margin-top: 16px; }
  .my-habit .key-figures .piggy-bank {
    height: 40px; }
  .my-habit .key-figures .projected .card-body .icon {
    height: 64px;
    width: 64px;
    margin-bottom: 8px; }
  .my-habit .key-figures .urge-num h5 {
    margin-top: 10px; }
  .my-habit .key-figures .urge-num span {
    font-size: .9rem; }
  .my-habit .key-figures .col-sm-4, .my-habit .key-figures .col-sm-6, .my-habit .key-figures .col-sm-2, .my-habit .key-figures .col {
    padding-right: 0; }
  .my-habit .key-figures .card {
    height: 180px; }
  .my-habit .key-figures .card-header .icon {
    height: 24px;
    width: 24px; }
  .my-habit .key-figures .icon {
    height: 32px;
    width: 32px; }
  .my-habit .key-figures .card-header {
    font-size: 1.0rem; }
    .my-habit .key-figures .card-header span {
      vertical-align: text-top; }
  .my-habit .key-figures .one-liner {
    line-height: 6rem; }
.my-habit .section-head .profile-pic.col-md-5, .my-habit .section-head .col-sm-2 {
  padding-left: 0;
  margin-bottom: 16px; }
.my-habit .section-head .actions {
  padding: 0; }
.my-habit .section-head .col-sm-12.goal {
  padding-left: 16px; }
.my-habit .habit-head .no-goals .projected .card-body .icon, .my-habit .key-figures .projected .card-body .icon {
  height: 64px;
  width: 64px;
  margin-bottom: 8px; }
.my-habit .habit-head .no-goals .icon, .my-habit .key-figures .icon {
  height: 24px;
  width: 24px; }
.my-habit .habit-head .no-goals .urge-num .icon, .my-habit .habit-head .no-goals .need-want .card-body .icon, .my-habit .key-figures .urge-num .icon, .my-habit .key-figures .need-want .card-body .icon {
  margin-top: 10px;
  height: 48px;
  width: 48px; }
.my-habit .habit-head .no-goals .budgeted, .my-habit .habit-head .no-goals .spent, .my-habit .habit-head .no-goals .projected, .my-habit .habit-head .no-goals .urges, .my-habit .habit-head .no-goals .need-want, .my-habit .key-figures .budgeted, .my-habit .key-figures .spent, .my-habit .key-figures .projected, .my-habit .key-figures .urges, .my-habit .key-figures .need-want {
  padding-right: 0; }
.my-habit .habit-head .no-goals .card-body, .my-habit .key-figures .card-body {
  height: 164px; }
.my-habit .habit-head .card-body {
  height: 208px; }
.my-habit .habit-head .card-footer {
  height: 30px; }
.my-habit .habit-head .b-container {
  margin-top: 5px; }
.my-habit .habit-head .habit-card {
  margin-bottom: 8px; }
.my-habit .habit-head .btn {
  text-align: left; }
.my-habit .card-header {
  border-bottom: 1px solid #ffc1cb;
  padding: 4px;
  background: #fff;
  font-size: 1.1rem;
  text-align: center; }
.my-habit .habit-card .card-text {
  font-size: 1rem; }

@media (max-width: 992px) {
  .my-habit .urges {
    display: none; }
  .my-habit .col-sm-12 {
    margin-bottom: 8px;
    padding-left: 0; } }
@media (max-width: 640px) {
  .my-habit .date-control {
    padding: 0; }
  .my-habit .empty-message {
    margin-top: 10px; }
  .my-habit .goal {
    margin-top: 16px; }
    .my-habit .goal .card {
      height: 456px; }
    .my-habit .goal .card-body {
      padding-left: 8px;
      padding-right: 8px; } }

/*# sourceMappingURL=my_habit.css.map */
