.my-habit {

  .need-want {
    .card-body {
      padding-top: .75rem;
    }

    canvas {
      height: 104px !important;
      width: 140px !important;
    }
  }

  .devil {
    padding-left: 10px;
  }


  .simple-bar {
    padding: 5px;
    height: 72px;
    width: 64px;
  }

  .habit-title {
    img {
      height: 40px;
      width: 40px;
    }

    span {
      vertical-align: middle;
      margin-left: 10px;
    }
  }

  .piggy.card {
    margin-bottom: 10px;
    padding: 24px;
  }

  .date-control {
    padding: 15px;
  }

  .goal {

    .col-sm-12{
      padding-left: 0px;
      padding-right: 0;
    }
    .card {
      height: 436px;
    }

    .card-header span {
      font-size: 1.4rem;
    }

    .card-body {
      padding-top: 5px;
    }

  }

  .key-figures {
    margin-top: 16px;
    .piggy-bank {
      height: 40px;
    }

    .projected {
      .card-body .icon {
        height: 72px;
        width: 72px;
        margin-bottom: 8px;
      }
    }

    .urge-num {
      h5 {
        margin-top: 10px;
      }

      span {
        font-size: .9rem;
      }
    }

    .col-sm-4, .col-sm-6, .col-sm-2, .col {
      padding-right: 0;
    }

    .card {
      height: 180px;
    }

    .card-header .icon {
      height: 24px;
      width: 24px;
    }

    .icon {
      height: 32px;
      width: 32px;
    }

    .card-header {
      font-size: 1.0rem;

      span {
        vertical-align: text-top;
      }
    }

    .one-liner {
      line-height: 6rem;
    }
  }

  .section-head {
    .profile-pic.col-md-5, .col-sm-2 {
      padding-left: 0;
      margin-bottom: 16px;
    }

    .actions {
      padding: 0;
    }

    .col-sm-12.goal {
      padding-left: 16px;
    }
  }

  .habit-head .no-goals, .key-figures {

    .projected {
      .card-body .icon {
        height: 72px;
        width: 72px;
        margin-bottom: 8px;
      }
    }

    .icon {
      height: 24px;
      width: 24px;
    }

    .urge-num .icon{
      margin-top: 10px;
      height: 48px;
      width: 48px;
    }

    .budgeted, .spent, .projected, .urges, .need-want {
      padding-right: 0;
    }

    .card-body {
      height: 164px;
    }
  }

  .habit-head {
    .card-body {
      height: 208px;
    }

    .card-footer {
      height: 30px;
    }

    .b-container {
      margin-top: 5px;
    }

    .habit-card {
      margin-bottom: 8px;
    }

    .btn {
      text-align: left;
    }
  }

  .card-header {
    border-bottom: 1px solid #ffc1cb;
    padding: 4px;
    background: #fff;
    font-size: 1.1rem;
    text-align: center;
  }

  .habit-card .card-text {
    font-size: 1rem;
  }

}

@media (max-width: 992px){
  .my-habit{
    .urges{
      display: none;
    }

    .col-sm-12{
      margin-bottom: 8px;
      padding-left: 0;
    }
  }
}


@media (max-width: 640px){
  .my-habit{
    .need-want {
      //display: none;
    }

    .date-control{
      padding: 0;
    }

    .goal{
      margin-top: 16px;
      .card{
        height: 376px;
      }

    }
  }
}