.habits div[class^="col-"] {
  padding: 4px; }

.date-head {
  padding: 2px; }

.date-control {
  margin-top: 10px; }

.row.stats :nth-child(2) {
  margin-top: 10px; }

.date-head.fix-top {
  padding: 2px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1); }

.fix-top {
  z-index: 100;
  position: fixed;
  top: 0;
  padding: 0;
  width: 94.5%;
  background-color: rgba(0, 98, 141, 0.25); }
  .fix-top .date-nav {
    position: relative;
    margin: 0; }
  .fix-top .date-control {
    max-width: 33%;
    padding-right: 0; }
  .fix-top .expenses-nav {
    max-width: 32.75%;
    padding-left: 0; }

.date-nav {
  margin: 0; }
  .date-nav .expenses-nav {
    padding: 0; }

.date-nav > .inline {
  width: 360px; }

.nav-title {
  font-size: 18px;
  font-weight: 500; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

.btn-secondary {
  color: #000000;
  border: 1px solid lightgray; }

.date-control .btn {
  border: 1px solid lightgray;
  background: #fff; }
  .date-control .btn img {
    margin: 0; }
.date-control div[class^='col-'] {
  padding: 0; }
.date-control .row {
  background-color: rgba(255, 255, 255, 0.8); }

.btn-default img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  vertical-align: bottom; }

.habit-statement .card {
  padding: 24px; }
  .habit-statement .card hr {
    margin-top: .5rem;
    margin-bottom: .5rem; }
  .habit-statement .card .pct {
    font-size: 1.1rem; }
  .habit-statement .card .money.red {
    color: #d8545c; }
  .habit-statement .card .money.yellow {
    color: darkgoldenrod; }
.habit-statement .signal img {
  height: 56px;
  width: 56px;
  margin-bottom: 5px; }

.date-control .btn:hover {
  background: gainsboro; }

.action {
  padding: 10px;
  border-radius: 2px;
  background: lightgreen;
  text-decoration: none;
  border: 1px green solid;
  font-weight: 400; }

.piggy.card {
  padding: 16px; }

.unbudgeted .card-body {
  padding: .5rem; }
.unbudgeted .statement {
  padding: 5px;
  font-size: 1.1rem; }

.angel {
  border-right: solid 1px lightgray; }

.devil, .angel {
  margin-top: 10px; }
  .devil .card-header .card-text.expense-name, .angel .card-header .card-text.expense-name {
    font-size: 1.1rem; }
  .devil .expense-card, .angel .expense-card {
    padding: 0; }
  .devil .expense-card .card-body, .angel .expense-card .card-body {
    padding: 10px; }
  .devil .card-text.money, .angel .card-text.money {
    font-size: 1.1rem !important; }
  .devil .expense-card .card-body img, .angel .expense-card .card-body img {
    height: 60px;
    width: 60px; }

.card.chart {
  padding: 16px; }

.urges-summary span, .goal-summary span {
  font-size: 1rem; }
.urges-summary .goal-type, .goal-summary .goal-type {
  font-weight: 500; }
.urges-summary .card, .goal-summary .card {
  height: 100%; }
  .urges-summary .card .card-body span, .goal-summary .card .card-body span {
    font-size: .85rem; }
  .urges-summary .card .w-habit, .goal-summary .card .w-habit {
    padding: 5px; }
    .urges-summary .card .w-habit img, .goal-summary .card .w-habit img {
      height: 64px;
      width: 64px; }
.urges-summary .card-header, .goal-summary .card-header {
  background: #fff;
  border-bottom: 1px solid #ffc1cb;
  font-size: 1.1rem;
  padding: 10px; }
  .urges-summary .card-header img, .goal-summary .card-header img {
    height: 32px;
    width: 32px; }
  .urges-summary .card-header span, .goal-summary .card-header span {
    margin-left: 10px; }
.urges-summary .card-body .statement, .goal-summary .card-body .statement {
  margin-top: 5px;
  font-size: 1rem; }
  .urges-summary .card-body .statement .col-12, .goal-summary .card-body .statement .col-12 {
    padding-left: 0;
    padding-right: 0; }
  .urges-summary .card-body .statement .stat, .goal-summary .card-body .statement .stat {
    font-size: .8rem; }
    .urges-summary .card-body .statement .stat img, .goal-summary .card-body .statement .stat img {
      height: 20px;
      width: 20px; }

.urges-summary .card-body .statement .col-12 {
  padding-right: 10px; }

@media (min-width: 568px) {
  .fix-top {
    width: 548px; } }
@media (min-width: 640px) {
  .fix-top {
    width: 517px; }

  .row.stats :nth-child(2) {
    margin-top: 0; } }
@media (min-width: 768px) {
  .fix-top {
    width: 641px; }

  .col-md-6.goal-summary {
    padding-right: 5px; }

  .col-md-6.urges-summary {
    padding-left: 5px; } }
@media (min-width: 992px) {
  .date-control {
    margin-top: 0; }

  .fix-top {
    width: 866px; }

  .col-md-6.goal-summary {
    padding-right: 15px; }

  .col-md-6.urges-summary {
    padding-left: 15px; }

  .date-control {
    padding: 0; } }
@media (min-width: 1200px) {
  .fix-top {
    width: 1046px; } }
@media (max-width: 767px) {
  .urges-summary {
    margin-top: 10px; }

  .date-head.fix-top {
    margin-top: 0; }
    .date-head.fix-top .expenses-nav, .date-head.fix-top .date-control {
      max-width: unset;
      margin-top: 2px;
      margin-bottom: 0; }

  .row.habits {
    padding: 0; }

  .habit-statement .devil, .habit-statement .unbudgeted {
    margin-top: 10px; }

  div[class^='col-'] {
    padding: 0; }

  .expenses-nav {
    padding: 0;
    margin-top: 10px; }

  .date-control {
    padding: 0; }

  .actions {
    margin-top: 16px; }
    .actions .btn {
      margin-top: 8px; }
    .actions .btn img {
      margin-left: 50px; } }

/*# sourceMappingURL=user_home.css.map */
